.center {
	position: absolute;
	width: 400px;
    height: 300px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.game {
	width: 200px;
	height: 400px;
	background-color: #F2FAFF;
	border-left: 1px solid blue;
	border-right: 1px solid blue;
	border-bottom: 1px solid blue;
	position: absolute;
	top: 10px;
	left: 10px;
}

.next {
	width: 80px;
	height: 80px;
	background-color: #F2FAFF;
	position: absolute;
	top: 10px;
	left: 250px;
	border: 1px solid blue;
}

.info {
	position: absolute;
	top: 100px;
	left: 250px;
}

.none,.current,.done {
	width: 20px;
	height: 20px;
	position: absolute;
	box-sizing: border-box;
}

.none {
	background-color: #F2FAFF;
}

.current {
	background-color: pink;
	border: 1px solid red;
}

.done {
	background-color: gray;
	border: 1px solid black;
}
#gameover {
	color: red;
	font-weight: bold;
	position: absolute;
    margin-left: -205px;
    margin-top: 20px;
    font-size: 25px;

}
#display {
	position: absolute;
	margin-top: -20px;
    margin-left: 93px;
    color: red;
}
.button {
    border: 1px solid #F9F9F9;
    width: 46px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #8F8787;
    background-color: #EBCBAE;
    cursor: pointer;
}
.width100 {
	width: 70px;
}
.ml48 {
	margin-left: 48px;
}

.fl {
	float: left;
}
.clearfix::before, .clearfix::after {
    content: " ";
    display: table;
}
.clearfix::after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}